# Front (React Router framework)
build/
.react-router/
.vite/

# Back (TypeScript)
backend/dist/
*.tsbuildinfo

# Generales
node_modules/
.env
.env*.local
*.env.*
*.log
coverage/
.eslintcache
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
